.token text {
    font-size: 4px;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.token-icon {
    fill: darkred;
}

table {
    width: 100%;
    height: 50%;
    display: table;
}

#map {
    width: 80%;
}

#chat {
    width: 20%
}