<!doctype html>
{% load static %}
<html>
<head>
    <title>Game Board</title>
    <link rel="stylesheet" href="{% static "game/style/style.css" %}">
    <script src="{% static "game/script/game.js" %}"></script>
</head>
<body>
<svg viewBox="0 0 100 100">
    <mask id="round-mask">
        <circle cy="4" r="5" fill="white" />
    </mask>
    {% for token in token_list %}
    <g class="token token-id-{{ token.id }}" data-token-id="{{ token.id }}" data-x="{{ token.x }}" data-y="{{ token.y }}" transform="translate({{ token.x }}, {{ token.y }})">
        <image class="token-icon" href="media/{{ token.image }}" x="-5" y="-1" width="10" height="10" preserveAspectRatio="none" mask="url(#round-mask)" />
    </g>
    {% endfor %}
    {% for token in token_list %}
    <g class="token token-id-{{ token.id }}" data-token-id="{{ token.id }}" data-x="{{ token.x }}" data-y="{{ token.y }}" transform="translate({{ token.x }}, {{ token.y }})">
        <text text-anchor="middle" y="-2">{{ token.name }}</text>
    </g>
    {% endfor %}
</svg>
</body>
</html>
